<div class="modal-dialog">
  <div class="modal-content">

    <div class="color-line"></div>

    <div class="modal-header text-center">
      <h4 class="modal-title">Modal title</h4>
      <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
    </div>

    <%= form_for @general_order_item, remote: true, html: { style: "display:inline;" } do |f| %>

        <div class="modal-body">
          <ul class="errors"></ul>

          <div class="form-group">
            <%= f.label "Işgär : ", class: "col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.collection_select(:employee_id, @employees, :id, :first_and_last_name, :include_blank => t("Please_select"), :class => "form-control" ) %></div>
          </div>

          <br><br><br>

          <div class="form-group">
            <%= f.label "Buýruk : ", class: "col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.collection_select(:order_id, @orders, :id, :order_no_and_date, :include_blank => t("Please_select"), :class => "form-control" ) %></div>
          </div>

          <br><br><br>

          <div class="form-group">
            <%= f.label "Senesi: ", class:"col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.date_select :order_item_date, :start_year => 1900, :end_year => 2018, :type => "text", class: "form-control" %></div>
          </div>

          <br><br><br>

          <div class="form-group">
            <%= f.label "Mowzugy: ", class:"col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.text_field :order_item_topic, :type => "text", class: "form-control" %></div>
          </div>

          <br><br><br>

          <div class="form-group">
            <%= f.label "Mazmuny: ", class:"col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.text_field :order_item_content, :type => "text", class: "form-control" %></div>
          </div>

          <br><br><br>

        </div>

        <div class="modal-footer">
          <%= f.submit "Kabul Et", class: "btn btn-primary" %>
          <%= link_to "Goýbolsun", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
        </div>

    <% end %>

  </div>
</div>
