<div class="modal-dialog">
  <div class="modal-content">

    <div class="color-line"></div>

    <div class="modal-header text-center">
      <h4 class="modal-title">Modal title</h4>
      <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
    </div>

    <%= form_for @prolongation, remote: true, html: { style: "display:inline;" } do |f| %>

        <div class="modal-body">
          <ul class="errors"></ul>

          <div class="form-group">
            <%= f.label "Işgär : ", class: "col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.collection_select(:employees_position_id, @employees_positions, :id, :name_order_date, :include_blank => t("Please_select"), :class => "form-control" ) %></div>
          </div>

        <br><br><br>

        <div class="form-group">
          <%= f.label "Buýrugy : ", class:"col-sm-4 control-label", style: "text-align:right" %>
          <div class="col-sm-8"><%= f.collection_select(:order_id, @orders, :id, :order_no_and_date, :include_blank => t("Please_select"), :class => "form-control" ) %></div>
        </div>


        <br><br><br>

        <div class="form-group">
          <%= f.label "Uzadylan Senesi: ", class:"col-sm-4 control-label", style: "text-align:right" %>
          <div class="col-sm-8"><%= f.date_select :start_date, :start_year => 1900, :end_year => 2020, :type => "text", class: "form-control" %></div>
        </div>

        <br><br><br>

        <div class="form-group">
            <%= f.label "Möhletleýin : ", class:"col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.check_box :is_temporary, class: "form-control" %></div>
        </div>

        <br><br><br>


        <div class="form-group">
            <%= f.label "Tamamlanýan Senesi: ", class:"col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.date_select :end_date, :start_year => 1900, :end_year => 2020, :type => "text", class: "form-control" %></div>
        </div>

          <br><br><br>

          <div class="form-group">
            <%= f.label "Bellikler : ", class: "col-sm-4 control-label", style: "text-align:right" %>
            <div class="col-sm-8"><%= f.text_area :notes, :type => "text",class: "form-control" %></div>
          </div>

          <br><br><br>

        </div>

        <div class="modal-footer">
          <%= f.submit "Kabul Et", class: "btn btn-primary" %>
          <%= link_to "Goýbolsun", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
        </div>

    <% end %>

  </div>
</div>
