<p id="notice"><%= notice %></p>

<p>
  <strong>Position type title:</strong>
  <%= @position_type.position_type_title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @position_type.notes %>
</p>

<%= link_to 'Edit', edit_position_type_path(@position_type) %> |
<%= link_to 'Back', position_types_path %>
