<p id="notice"><%= notice %></p>

<p>
  <strong>Address type:</strong>
  <%= @address.address_type %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @address.employee %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Foreign city:</strong>
  <%= @address.foreign_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Region:</strong>
  <%= @address.region %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @address.apartment %>
</p>

<p>
  <strong>Flat:</strong>
  <%= @address.flat %>
</p>

<p>
  <strong>Village:</strong>
  <%= @address.village %>
</p>

<p>
  <strong>Quartal:</strong>
  <%= @address.quartal %>
</p>

<p>
  <strong>Rayon:</strong>
  <%= @address.rayon %>
</p>

<p>
  <strong>Street passage:</strong>
  <%= @address.street_passage %>
</p>

<p>
  <strong>Register start date:</strong>
  <%= @address.register_start_date %>
</p>

<p>
  <strong>Register end date:</strong>
  <%= @address.register_end_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @address.notes %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
