<p id="notice"><%= notice %></p>

<p>
  <strong>Nationality title:</strong>
  <%= @nationality.nationality_title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @nationality.notes %>
</p>

<%= link_to 'Edit', edit_nationality_path(@nationality) %> |
<%= link_to 'Back', nationalities_path %>
